## Example Package

## Installation

#### From Local

```shell```

pip install PackagePandasExample-0.0.1-py3-none-any.whl

## Example:

In [1]:
import pandas as pd
from PackagePandasExample.SpecialMethods import doubleDataFrame

testFrame = pd.DataFrame()
testFrame['ID'] = [1,2,3]
testFrame['Color'] = ['Red', 'Blue', 'Green']

testFrame

   ID  Color
0   1    Red
1   2   Blue
2   3  Green

In [2]:
dblTestFrame = doubleDataFrame(testFrame)
dblTestFrame

   index  ID  Color
0      0   1    Red
1      1   2   Blue
2      2   3  Green
3      0   1    Red
4      1   2   Blue
5      2   3  Green